body {
  display: grid;
  place-items: center;
  background-color: ;
}

.card {
  width: 18rem;
}
#form1 {
  text-align: center;
}

section {
  padding-top: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4px;
}
